<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Poképicker</title>
     <link rel="stylesheet" type="text/css" href="/styles/main.css">
     <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
</head>

<body>

     <h1> Poképicker </h1>
     <div class="page-divider">
          <% team.forEach(function(teamMember) { %>
               <div class="card">
                    <div class="container">
                         <div class="pokemon-selected">
                              <h2 class="pokeName">
                                   <%= teamMember.name %>
                              </h2>
                         </div>
                         <div>
                              <img src=<%='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' +
                                   teamMember.pokedex_numbers[0].entry_number + '.png' %> >
                         </div>
                    </div>
               </div>
               <% }); %>
     </div>
</body>

</html>